<p-toast></p-toast>

<div class="card">
  <h5>Upload file to Minio</h5>
  <p-fileUpload id="file" name="file[]"
                [disabled]="!isEditMode"
                (onSelect)="onSelect($event)"
                (onBeforeUpload)="onUpload()"
                (onClear)="clearForm()"
                [multiple]="false" accept=".pdf">
    <ng-template pTemplate="content">
      <!--      <ul *ngIf="uploadedFiles.length">-->
      <!--        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>-->
      <!--      </ul>-->
    </ng-template>
  </p-fileUpload>
</div>
