<p-toast></p-toast>
<p-menubar [model]="menuItems" *ngIf="auth.isLoggedIn()">
  <div class="login-bar">

    <p>
      <i class="pi pi-user"></i>
      {{auth.getUsername() + ', ' + auth.getRole()}}
    </p>
    <a type="button"
       icon="pi pi-sign-out"
       style="margin-left:.25em; padding: 0.7em;cursor: pointer;"
       (click)="logout()">
      <i class="pi pi-sign-out"></i>
      Logout
    </a>
  </div>
</p-menubar>

<p-menubar *ngIf="!this.auth.isLoggedIn()">
  <div class="login-bar">
    <a type="button"
       icon="pi pi-sign-in"
       style="margin-left:.25em; padding: 0.7em;cursor: pointer;"
       (click)="login()">
      Login
    </a>
  </div>
</p-menubar>
