<div class="grid">
  <!--  this is the left container with basic information-->
  <div class="col-2">
    <p-card *ngIf="!loading" [formGroup]="basicInfoForm" [header]="'Main Information'">

      <div class="line"></div>

      <div style="padding-top: 10px"></div>

      <div class="card">

        <div class="row mb-2 pb-2">
          <i class="pi pi-volume-down inline-block"></i>
          <div class="col-sm-10 info next">
            {{workNumber.value ? workNumber.value : '-'}}
          </div>
        </div>

        <div class="row mb-2 pb-2">
          <i class="pi pi-phone inline-block"></i>
          <div class="col-sm-10 info next">
            {{mobileNumber.value != null ? mobileNumber.value : '-'}}
          </div>
        </div>

        <div class="row mb-2 pb-2">
          <i class="pi pi-at inline-block"></i>
          <div class="col-sm-10 info next">
            {{businessEmail.value}}
          </div>
        </div>

        <div class="line"></div>

        <div style="padding-top: 10px"></div>

        <div class="row mb-2 pb-2">
          <label><b>Hire Date</b></label>
        </div>

        <div class="row mb-2 pb-2" *ngIf="hireDate?.value != null">
          <i class="pi pi-calendar inline-block"></i>
          <div class="col-sm-10 info next">
            {{hireDate.value | date: 'dd/MM/yyyy'}}
          </div>
        </div>

        <div class="row mb-2 pb-2" *ngIf="hireDate?.value == null">
          <i class="pi pi-calendar inline-block"></i>
          <div class="col-sm-10 info next">
            {{'-'}}
          </div>
        </div>

        <div class="row mb-2 pb-2">

          <div class="col-sm-10 info" *ngIf="hireDate?.value != null">
            <i class="pi pi-calendar-times inline-block"></i>
            {{countYears.value + 'y' + ' - ' + countMonths.value + 'm' + ' - ' + countDays.value + 'd'}}
          </div>

          <div class="col-sm-10 info" *ngIf="hireDate?.value == null">
            <i class="pi pi-calendar-times inline-block"></i>
            {{'-'}}
          </div>

        </div>

        <div class="line"></div>

        <div style="padding-top: 10px"></div>

        <div class="row mb-2 pb-2">
          <i class="pi pi-hashtag inline-block"></i>
          <div class="col-sm-10 info next">
            {{employeeNumber.value}}
          </div>
        </div>

        <div class="row mb-2 pb-2">
          <i class="pi pi-bookmark inline-block"></i>
          <div class="col-sm-10 info next">
            {{jobStatus.value != null ? getEnumByKey(jobStatus.value) : '-'}}
          </div>
        </div>

        <div class="row mb-2 pb-2">
          <i class="pi pi-sitemap inline-block"></i>
          <div class="col-sm-10 info next">
            {{division.value != null ? division.value : '-'}}
          </div>
        </div>

        <div class="row mb-2 pb-2">
          <i class="pi pi-building inline-block"></i>
          <div class="col-sm-10 info next">
            {{location.value != null ? location.value : '-'}}
          </div>
        </div>

        <div class="line"></div>

        <div style="padding-top: 10px"></div>

        <div class="row mb-2 pb-2">
          <label><b>Manager</b></label>
          <div style="padding-top: 10px"></div>

          <div class="col-sm-10 info" *ngIf="managerName?.value == null">
            <i class="pi pi-user-plus inline-block"></i>
            {{'-'}}
          </div>

          <div class="col-sm-10 info" *ngIf="managerName?.value != null">
            <i class="pi pi-user-plus inline-block"></i>
            <a [routerLink]="['/user-personal/', managerId.value]" target="_blank">
              {{managerName.value + ' ' + managerSurname.value}}
            </a>
          </div>

          <div style="padding-top: 5px"></div>

          <div class="col-sm-10 info" *ngIf="managerTitleJob?.value == null">
            <i class="pi pi-pencil inline-block"></i>
            {{'-'}}
          </div>

          <div class="col-sm-10 info" *ngIf="managerTitleJob?.value != null">
            <i class="pi pi-pencil inline-block"></i>
            {{managerTitleJob.value}}
          </div>

        </div>

        <div class="line"></div>

        <div style="padding-top: 10px"></div>

        <div class="row mb-2 pb-2" formArrayName="directReports">

          <label><b>Direct Reports</b></label>
          <div style="padding-top: 10px"></div>

          <div class="col-sm-10 info" *ngIf="directReports.length == 0">
            <i class="pi pi-user-edit inline-block"></i>
            {{'-'}}
          </div>

          <div *ngFor="let directReport of directReports.controls; let i =index;">
            <div [formGroupName]="i">
              <i class="pi pi-user-edit inline-block"></i>
              <div class="col-sm-10 info next" style="padding-top: 5px">
                {{directReport?.value.name + ' ' + directReport?.value.surname}}
              </div>

            </div>
          </div>

        </div>

      </div>
    </p-card>
  </div>

  <div class="col-9">

    <p-panel styleClass="custom-panel-font" [header]="setNameAndSurname() + setJobTitle()">
      <p-tabView [(activeIndex)]="activeIndex" (onChange)="selectTab()">

        <p-tabPanel [header]="personHeader" [selected]="personalSelected">
          <!--          <p-progressSpinner *ngIf="!this.basicInfoForm"></p-progressSpinner>-->

          <app-personal [mainMenuForm]="basicInfoForm"
                        [selected]="personalSelected">
          </app-personal>

        </p-tabPanel>

        <p-tabPanel [header]="jobHeader" [selected]="jobSelected">
          <!--          <p-progressSpinner *ngIf="!this.jobForm"></p-progressSpinner>-->

          <app-job [mainMenuForm]="basicInfoForm">
          </app-job>

        </p-tabPanel>

      </p-tabView>
    </p-panel>

  </div>

</div>
