<div class="grid">
  <!--  this is the left container with basic information-->
  <div class="col-2">
    <p-card *ngIf="!loading" [formGroup]="basicInfoForm" [header]="'My basic information'">

      <div class="card">

        <div class="row mb-3 pb-2">
          <i class="pi pi-id-card" [style]="{'display': 'inline-block'}"></i>
          <div [style]="{'display': 'inline-block', 'padding-left': '5px'}" class="col-sm-10 info">
            {{workNumber?.value}}
          </div>
        </div>

        <div class="row mb-3 pb-2">
          <i class="pi pi-id-card" [style]="{'display': 'inline-block'}"></i>
          <div [style]="{'display': 'inline-block', 'padding-left': '5px'}" class="col-sm-10 info">
            {{mobileNumber?.value}}
          </div>
        </div>

        <div class="row mb-3 pb-2">
          <i class="pi pi-id-card" [style]="{'display': 'inline-block'}"></i>
          <div [style]="{'display': 'inline-block', 'padding-left': '5px'}" class="col-sm-10 info">
            {{businessEmail?.value}}
          </div>
        </div>

        <div class="line"></div>

        <!--        <div style="padding-top: 20px"></div>-->

        <div class="row mb-3 pb-2">
          <label><b>Hire Date</b></label>
          <div class="col-sm-10 info">
            {{hireDate?.value}}
          </div>
          <div class="col-sm-10 info">
            {{'3y - 12d'}}
          </div>
        </div>

      </div>
    </p-card>
  </div>

<div class="col-9">

  <p-tabMenu [model]="items" [activeItem]="activeItem">

  </p-tabMenu>

  <app-profile></app-profile>
</div>

</div>
