:host ::ng-deep.custom-panel-font.p-panel .p-panel-header .p-panel-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.custom-router-link:hover span {
  background-color: white;
  color: #46a2ff;
  padding-left: 5px;
}

.custom-router-link:not(:hover) {
  text-decoration: none;
  padding-left: 5px;
  color: #495057;
  background-color: white;
}
