<div class="grid">
  <div class="col-12 lg:col-12 lg:col-offset-0">
    <p-card [formGroup]="personalForm">

      <ng-template pTemplate="header">

        <div style="padding-left: 20px">
          <i class="pi pi-id-card inline-block"></i>
          <h2 class="next-more">Personal</h2>
        </div>

        <div class="line"></div>

      </ng-template>

      <div class="card">
        <i class="pi pi-user inline-block"></i>
        <h4 class="next-more">Basic Information</h4>

        <div class="formgroup-inline">

          <div class="field">
            <label for="name" class="block + required">Name</label>
            <input class="p-inputtext-sm" id="name" type="text" pInputText
                   [formControl]="name">
          </div>

          <div class="field">
            <label for="surname" class="block + required">Surname</label>
            <input class="p-inputtext-sm" id="surname" type="text" pInputText
                   [formControl]="surname">
          </div>

        </div>

        <div class="formgroup-inline">

          <div class="field">
            <label for="birthDate" class="block">Birth Date</label>
            <p-calendar
              [formControl]="birthDate"
              id="birthDate"
              dateFormat="dd/mm/yy"
              [showIcon]="true"
              dataType="string"
              inputId="birthDate">
            </p-calendar>
          </div>

        </div>

        <div class="formgroup-inline">

          <div class="field">
            <label for="gender" class="block">Gender</label>
            <p-dropdown [options]="genders"
                        [formControl]="gender"
                        placeholder="-Select-"
                        id="gender"
                        optionValue="key"
                        optionLabel="value">
            </p-dropdown>
          </div>

          <div class="field">
            <label for="maritalStatus" class="block">Marital Status</label>
            <p-dropdown [options]="maritalStatuses"
                        [formControl]="maritalStatus"
                        placeholder="-Select-"
                        id="maritalStatus"
                        optionValue="key"
                        optionLabel="value">
            </p-dropdown>
          </div>
        </div>

        <div class="line"></div>
        <div style="padding-top: 10px"></div>

      </div>

      <i class="pi pi-home inline-block"></i>
      <h3 class="next-more">Address</h3>

      <div class="field">
        <input class="p-inputtext-sm" placeholder="Street 1" type="text" pInputText [formControl]="street1">
      </div>

      <div class="field">
        <input class="p-inputtext-sm" placeholder="Street 2" type="text" pInputText
               [formControl]="street2">
      </div>

      <div class="formgroup-inline">

        <div class="field">
          <input class="p-inputtext-sm" placeholder="City" type="text" pInputText
                 [formControl]="city">
        </div>

        <div class="field">
          <input class="p-inputtext-sm" placeholder="Province" type="text" pInputText
                 [formControl]="province">
        </div>

        <div class="field">
          <input class="p-inputtext-sm" placeholder="Postal Code" type="text" pInputText
                 [formControl]="postalCode">
        </div>

      </div>

      <div class="field">
        <input class="p-inputtext-sm" placeholder="Country" type="text"
               pInputText [formControl]="country">
      </div>

      <div class="line"></div>
      <div style="padding-top: 10px"></div>

      <i class="pi pi-mobile inline-block"></i>
      <h3 class="next-more">Contact</h3>

      <label class="block"><strong>Phone</strong></label>
      <div style="padding-top: 10px"></div>

      <div class="field">

        <span class="p-input-icon-left">
          <i class="pi pi-volume-down"></i>

          <input [maxlength]="10" class="p-inputtext-sm" placeholder="Work phone"
                 type="text" pInputText
                 (keypress)="numberOnly($event)"
                 [formControl]="workNumber">
        </span>

      </div>

      <div class="field">
        <span class="p-input-icon-left">
          <i class="pi pi-phone"></i>

          <input [maxlength]="10" class="p-inputtext-sm" placeholder="Mobile phone"
                 type="text" pInputText
                 (keypress)="numberOnly($event)"
                 [formControl]="mobileNumber">
        </span>

      </div>

      <div class="field">
        <span class="p-input-icon-left">
          <i class="pi pi-home"></i>

          <input [maxlength]="10" class="p-inputtext-sm" placeholder="Home phone"
                 type="text" pInputText
                 (keypress)="numberOnly($event)"
                 [formControl]="homeNumber">
        </span>

      </div>

      <label class="block"><strong>Email</strong></label>

      <div style="padding-top: 10px"></div>

      <div class="field">
        <span class="p-input-icon-left">
          <i class="pi pi-at"></i>
          <input class="p-inputtext-sm" placeholder="Business Email" type="text" pInputText
                 [formControl]="businessEmail">
        </span>
      </div>

      <div class="field">
        <span class="p-input-icon-left">
          <i class="pi pi-building"></i>
          <input class="p-inputtext-sm" placeholder="Personal Email" type="text" pInputText
                 [formControl]="personalEmail">
        </span>
      </div>

      <div class="line"></div>
      <div style="padding-top: 10px"></div>

      <i class="pi pi-external-link inline-block"></i>
      <h3 class="next-more">Social Links</h3>

      <div class="field">
      <span class="p-input-icon-left">
            <i class="pi pi-linkedin"></i>
            <input class="p-inputtext-sm" placeholder="Linkedin" type="text" pInputText
                   [formControl]="linkedinUrl">
      </span>
      </div>

      <div class="field">
        <span class="p-input-icon-left">
          <i class="pi pi-twitter"></i>
          <input class="p-inputtext-sm" placeholder="Twitter" type="text" pInputText
                 [formControl]="twitterUrl">
        </span>
      </div>

      <div class="field">
        <span class="p-input-icon-left">
          <i class="pi pi-facebook"></i>
          <input class="p-inputtext-sm" placeholder="Facebook" type="text" pInputText
                 [formControl]="facebookUrl">
        </span>
      </div>

      <div class="line"></div>
      <div style="padding-top: 10px"></div>

      <!--      <i class="pi pi-user inline-block"></i>-->
      <!--      <h3 class="next-more">Education</h3>-->

      <app-education *ngIf="educationResponse"
                     [educationResponse]="educationResponse">
      </app-education>

      <ng-template pTemplate="footer">
        <p-button *ngIf="isEditMode == false" (onClick)="updateProfile()"
                  [disabled]="personalForm.invalid"
                  [icon]="!saving ? 'pi pi-check' : 'pi pi-spin pi-spinner'"
                  label="Save changes">
        </p-button>
        <p-button *ngIf="isEditMode == false" (onClick)="onClear()"
                  [disabled]="personalForm.invalid"
                  [style]="{'margin-left': '.5em'}"
                  [icon]="!personalForm.get('id')?.value ?  'pi pi-trash' : 'pi pi-refresh'"
                  [label]="!personalForm.get('id')?.value ? 'Clear': 'Refresh'"
                  styleClass="p-button-secondary">
        </p-button>
      </ng-template>

    </p-card>

  </div>

  <ng-container *ngIf="showDebug">
    <pre>{{personalForm.value | json}}</pre>
  </ng-container>

</div>
