<div class="grid">
  <div class="col-12 lg:col-12 lg:col-offset-0">
    <p-card [formGroup]="profileForm">

      <ng-template pTemplate="header">

        <div style="padding-left: 20px">
          <i class="pi pi-id-card" [style]="{'display': 'inline-block'}"></i>
          <h2 [style]="{'display': 'inline-block', 'padding-left': '20px'}">Personal</h2>
        </div>

        <div class="line"></div>

      </ng-template>


      <div class="card">
        <i class="pi pi-user" [style]="{'display': 'inline-block'}"></i>
        <h3 [style]="{'display': 'inline-block', 'padding-left': '20px'}">Basic Information</h3>

        <div class="formgroup-inline">

          <div class="field">
            <label for="name" class="block">Name</label>
            <input [readOnly]="isEditMode" id="name" type="text" pInputText
                   [formControl]="name">
          </div>

          <div class="field">
            <label for="surname" class="block">Surname</label>
            <input [readOnly]="isEditMode" id="surname" type="text" pInputText
                   [formControl]="surname">
          </div>

        </div>

        <div class="formgroup-inline">

          <div class="field">
            <label for="birthDate" class="block">Ημερομηνία Γέννησης</label>
            <p-calendar
                        [formControl]="birthDate"
                        id="birthDate"
                        dateFormat="dd/mm/yy"
                        [showIcon]="true"
                        dataType="string"
                        inputId="birthDate">
            </p-calendar>
          </div>

        </div>

        <div class="formgroup-inline">

          <div class="field">
            <label for="gender" class="block">Gender</label>
            <p-dropdown [readonly]="isEditMode" [options]="genders"
                        [formControl]="gender"
                        placeholder="-Select-"
                        id="gender"
                        optionValue="key"
                        optionLabel="value">
            </p-dropdown>
          </div>

          <div class="field">
            <label for="maritalStatus" class="block">Marital Status</label>
            <p-dropdown [readonly]="isEditMode" [options]="maritalStatuses"
                        [formControl]="maritalStatus"
                        placeholder="-Select-"
                        id="maritalStatus"
                        optionValue="key"
                        optionLabel="value">
            </p-dropdown>
          </div>
        </div>

      </div>

<!--      <div class="card" *ngIf="isGraduateInfoEnabled">-->
<!--        <h3>Στοιχεία φοίτησης</h3>-->

<!--        <div class="formgrid grid">-->

<!--          <div class="field col-5">-->
<!--            <label for="department" class="block">Τμήμα</label>-->
<!--            <input class="w-full"-->
<!--                   type="text"-->
<!--                   id="department"-->
<!--                   [readOnly]="isEditMode"-->
<!--                   pInputText [formControl]="department"/>-->
<!--          </div>-->

<!--          <div class="field col-7">-->
<!--            <label for="direction" class="block">Επιλογή Κατεύθυνσης</label>-->
<!--            <p-dropdown [readonly]="isEditMode" [options]="studentDirections"-->
<!--                        id="direction"-->
<!--                        placeholder="Κατεύθυνση"-->
<!--                        [formControl]="direction"-->
<!--                        optionLabel="name">-->
<!--            </p-dropdown>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

<!--      <div class="card">-->
<!--        <h3>Στοιχεία επικοινωνίας</h3>-->

<!--        <div class="formgroup-inline">-->

<!--          <div class="field">-->
<!--            <label for="address" class="block">Διεύθυνση</label>-->
<!--            <input [readOnly]="isEditMode" id="address" type="text" pInputText [formControl]="address">-->
<!--          </div>-->

<!--          <div class="field">-->
<!--            <label for="city" class="block">Πόλη</label>-->
<!--            <input [readOnly]="isEditMode" id="city" type="text" pInputText [formControl]="city">-->
<!--          </div>-->

<!--          <div class="field">-->
<!--            <label for="postalCode" class="block">Ταχυδρομικός κώδικας</label>-->
<!--            <p-inputNumber [readonly]="isEditMode"-->
<!--                           [formControl]="postalCode"-->
<!--                           id="postalCode"-->
<!--                           mode="decimal"-->
<!--                           [maxlength]="10"-->
<!--                           [useGrouping]="false"-->
<!--                           inputId="postalCode">-->
<!--            </p-inputNumber>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="formgroup-inline">-->

<!--          <div class="field">-->
<!--            <label for="postalCode" class="block">Τηλέφωνο επικοινωνίας</label>-->
<!--            <p-inputNumber [readonly]="isEditMode"-->
<!--                           [formControl]="mobileNumber"-->
<!--                           id="mobileNumber"-->
<!--                           mode="decimal"-->
<!--                           [maxlength]="10"-->
<!--                           [useGrouping]="false"-->
<!--                           inputId="mobileNumber">-->
<!--            </p-inputNumber>-->
<!--          </div>-->

<!--          <div class="field">-->
<!--            <label for="postalCode" class="block">Α.Φ.Μ</label>-->
<!--            <p-inputNumber [readonly]="isEditMode"-->
<!--                           [formControl]="vatNumber"-->
<!--                           id="Αfm"-->
<!--                           mode="decimal"-->
<!--                           [maxlength]="10"-->
<!--                           [useGrouping]="false"-->
<!--                           inputId="vatNumber">-->
<!--            </p-inputNumber>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="card" *ngIf="!form?.get('id')?.value">-->
<!--          <h3>Αρχείο</h3>-->

<!--          <div class="formgroup-inline">-->
<!--            <app-file [form]="form" [isMinioFileExist]="false"></app-file>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->

      <ng-template pTemplate="footer">
        <p-button *ngIf="isEditMode == false" (onClick)="updateProfile()"
                  [disabled]="profileForm.invalid || profileForm.untouched"
                  [icon]="!saving ? 'pi pi-check' : 'pi pi-spin pi-spinner'"
                  label="Αποθήκευση">
        </p-button>
        <p-button *ngIf="isEditMode == false" (onClick)="onClear()" [disabled]="profileForm.untouched"
                  [style]="{'margin-left': '.5em'}"
                  [icon]="!profileForm?.get('id')?.value ?  'pi pi-trash' : 'pi pi-refresh'"
                  [label]="!profileForm?.get('id')?.value ? 'Καθαρισμός': 'Επαναφορά'"
                  styleClass="p-button-secondary">
        </p-button>
      </ng-template>

    </p-card>

  </div>

<!--  <p-dialog [(visible)]="successModal" [draggable]="false" [modal]="true" [resizable]="false"-->
<!--            [style]="{width: '20vw'}" header="Επιτυχία">-->
<!--    <p class="m-0">Η καταχώριση ολοκληρώθηκε με επιτυχία.</p>-->
<!--    <ng-template class="p-0" pTemplate="footer">-->
<!--      <p-button (click)="successModal=false" icon="pi pi-check" label="Ok" styleClass="p-button-text"></p-button>-->
<!--    </ng-template>-->
<!--  </p-dialog>-->

<!--  <p-dialog [(visible)]="errorModal" [draggable]="false" [modal]="true" [resizable]="false"-->
<!--            [style]="{width: '25vw'}" header="Αποτυχία">-->
<!--    <p class="m-0">Παρουσιάστηκε πρόβλημα στη καταχώριση. Παρακαλώ επικοινωνήστε με τους διαχειριστές του-->
<!--      συστήματος.</p>-->
<!--    <ng-template class="p-0" pTemplate="footer">-->
<!--      <p-button (click)="errorModal=false" icon="pi pi-check" label="Ok" styleClass="p-button-text"></p-button>-->
<!--    </ng-template>-->
<!--  </p-dialog>-->

  <ng-container *ngIf="showDebug">
    <pre>{{profileForm.value | json}}</pre>
  </ng-container>

</div>

<ng-template #loadingList>
  <div class="col-8">
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
  </div>
</ng-template>
