<div class="grid">
  <div class="col-12 lg:col-12 lg:col-offset-0">

    <p-card [formGroup]="passwordForm" [header]="'Change password'">

      <div class="formgroup-inline">

        <div class="field">
          <label for="password" class="required">New password</label>
          <input placeholder="password" id="password" type="text" pInputText
                 formControlName="password">
        </div>

        <div class="field">
          <button pButton [disabled]="passwordForm.invalid" type="button"
                  (click)="submit()" label="Change password">
          </button>
        </div>

      </div>

    </p-card>
  </div>
</div>
