<div class="grid">
  <div class="col-12 lg:col-12 lg:col-offset-0">

    <p-card [formGroup]="passwordForm" [header]="'User password'">

      <div class="field">
        <label for="currentPassword" class="required block">Current Password</label>
        <input pInputText
               id="currentPassword" type="text"
               formControlName="currentPassword">
      </div>

      <div class="field">
        <label for="newPassword" class="required block">New Password</label>
        <input pInputText
               id="newPassword" type="text"
               formControlName="newPassword">
      </div>

      <div class="field">
        <label for="sameNewPassword" class="required block">Confirm new Password</label>
        <input pInputText
               id="sameNewPassword" type="text"
               formControlName="sameNewPassword">
      </div>

      <div class="field">
        <button pButton [disabled]="passwordForm.invalid" type="button"
                (click)="submit()" label="Change password">
        </button>
      </div>

    </p-card>
  </div>
</div>
