<div class="grid">
  <div class="col-12 lg:col-12 lg:col-offset-0">

    <p-card [formGroup]="passwordForm" [header]="'User password'">

      <div class="field">
        <label for="currentPassword" class="required block">Current Password</label>
        <p-password id="currentPassword"
                    [feedback]="false"
                    formControlName="currentPassword">
        </p-password>

      </div>

      <div class="field">
        <label for="newPassword" class="required block">New Password</label>
        <p-password id="newPassword"
                    [feedback]="false"
                    formControlName="newPassword">
        </p-password>
      </div>

      <div class="field">
        <label for="sameNewPassword" class="required block">Confirm new Password</label>
        <p-password id="sameNewPassword"
                    [feedback]="false"
                    formControlName="sameNewPassword">
        </p-password>
      </div>

      <div class="field">
        <button pButton [disabled]="passwordForm.invalid" type="button"
                (click)="submit()" label="Change password">
        </button>
      </div>

    </p-card>
  </div>
</div>
