<div class="grid">
  <div class="col-12 lg:col-12 lg:col-offset-0">
    <p-card [formGroup]="jobForm">

      <ng-template pTemplate="header">

        <div style="padding-left: 20px">
          <i class="pi pi-briefcase inline-block"></i>
          <h2 class="next-more">Job</h2>
        </div>

        <div class="line"></div>

      </ng-template>

      <div class="card">

        <i class="pi pi-globe inline-block"></i>
        <h4 class="next-more">Job Information</h4>

        <div class="field">
          <label for="hireDate" class="block">Hire Date</label>
          <p-calendar
            [disabled]="isEditMode == false"
            [formControl]="hireDate"
            id="hireDate"
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            dataType="string"
            inputId="hireDate">
          </p-calendar>
        </div>

        <div class="formgroup-inline">

          <div class="field">
            <label for="ethnicity" class="block">Ethnicity</label>
            <p-dropdown [options]="ethnicities"
                        [formControl]="ethnicity"
                        placeholder="-Select-"
                        id="ethnicity"
                        optionValue="key"
                        optionLabel="value">
            </p-dropdown>
          </div>

          <div class="field">
            <label for="jobCategory" class="block">Job Category</label>
            <p-dropdown [options]="jobCategories"
                        [formControl]="jobCategory"
                        placeholder="-Select-"
                        id="jobCategory"
                        optionValue="key"
                        optionLabel="value">
            </p-dropdown>
          </div>

        </div>

        <div class="field">
          <label for="jobDescription" class="block">Job Description</label>
          <textarea pInputTextarea id="jobDescription" rows="5" cols="50"
                    [formControl]="jobDescription">
        </textarea>

        </div>

        <app-bonus *ngIf="bonusResponse"
                   [editMode]="isEditMode"
                   [bonusResponse]="bonusResponse">
        </app-bonus>

        <app-work-information *ngIf="workInformationResponse"
                              [editMode]="isEditMode"
                              [mainMenuForm]="mainMenuForm"
                              [workInformationResponse]="workInformationResponse">
        </app-work-information>

      </div>

      <app-compensation *ngIf="compensationsResponse"
                        [editMode]="isEditMode"
                        [mainMenuForm]="mainMenuForm"
                        [compensationResponse]="compensationsResponse">
      </app-compensation>

      <ng-template pTemplate="footer">
        <p-button *ngIf="isEditMode == true" (onClick)="updateJobInfo()"
                  [disabled]="jobForm.invalid || (jobForm.untouched && jobForm.pristine)"
                  [icon]="!saving ? 'pi pi-check' : 'pi pi-spin pi-spinner'"
                  label="Save changes">
        </p-button>
        <p-button *ngIf="isEditMode == true" (onClick)="onClear()"
                  [disabled]="jobForm.pristine"
                  [style]="{'margin-left': '.5em'}"
                  [icon]="'pi pi-eraser'"
                  [label]="'Cancel'"
                  styleClass="p-button-secondary">
        </p-button>
      </ng-template>

    </p-card>
  </div>
</div>

<pre *ngIf="env.debug">{{jobForm.value | json}}</pre>
