<div class="grid">
  <div class="col-12 lg:col-12 lg:col-offset-0">
    <p-card [formGroup]="jobForm">

      <ng-template pTemplate="header">

        <div style="padding-left: 20px">
          <i class="pi pi-id-card inline-block"></i>
          <h2 class="next-more">Job</h2>
        </div>

        <div class="line"></div>

      </ng-template>

      <div class="card">
        <i class="pi pi-user inline-block"></i>
        <h4 class="next-more">Bonus</h4>

      </div>

      <div class="field">
        <label for="birthDate" class="block">Birth Date</label>
        <p-calendar
          [formControl]="hireDate"
          id="birthDate"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          dataType="string"
          inputId="hireDate">
        </p-calendar>
      </div>

      <div class="formgroup-inline">

        <div class="field">
          <label for="ethnicity" class="block">Ethnicity</label>
          <p-dropdown [options]="ethnicities"
                      [formControl]="ethnicity"
                      placeholder="-Select-"
                      id="ethnicity"
                      optionValue="key"
                      optionLabel="value">
          </p-dropdown>
        </div>

        <div class="field">
          <label for="jobCategory" class="block">Job Category</label>
          <p-dropdown [options]="jobCategories"
                      [formControl]="jobCategory"
                      placeholder="-Select-"
                      id="jobCategory"
                      optionValue="key"
                      optionLabel="value">
          </p-dropdown>
        </div>

      </div>

    </p-card>
  </div>
</div>
