<p-toast></p-toast>

<p-panel styleClass="default" [header]=bonusHeader [toggleable]="true">

  <button pButton [label]=bonusButtonHeader icon="pi pi-plus" class="p-button-secondary"
          (click)="openNewBonusDialog()">
  </button>

  <p-table #dt [loading]="isLoading" [showLoader]="false" responsiveLayout="scroll" [value]="bonuses"
           [rowHover]="true" dataKey="id">

    <ng-template pTemplate="header">
      <tr>
        <th style="display: none;">id</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Comment</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-bonus let-columns="columns">
      <tr>
        <td style="display: none;">{{bonus.id}}</td>
        <td>{{bonus.bonusDate}}</td>
        <td>{{bonus.amount | currency: 'EUR' : 'symbol'}}</td>
        <td>{{bonus.comment}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-outlined mr-2"
                  (click)="editRow(bonus)">
          </button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined"
                  (click)="deleteRow(bonus)">
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td>No bonus entries have been added.</td>
      </tr>
    </ng-template>

  </p-table>
</p-panel>

<!--delete dialog-->
<p-dialog *ngIf="deleteBonus" [(visible)]="deleteDialog"
          [style]="{width: '450px'}" [modal]="true" styleClass="p-fluid"
          (onHide)="hideDeleteDialog()">

  <ng-template pTemplate="header">
    <span *ngIf="deleteBonus">Delete bonus</span>
  </ng-template>

  <p *ngIf="deleteBonus">Are you sure you want to delete this bonus?</p>

  <div class="p-dialog-footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()">
    </button>

    <button *ngIf="deleteBonus" pButton pRipple label="Delete" icon="pi pi-trash"
            class="p-button-text p-button-danger"
            (click)="removeBonus()">
    </button>

  </div>

</p-dialog>

<!--update dialog-->
<p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" [modal]="true" styleClass="p-fluid"
          (onHide)="hideDialog()">
  <ng-template pTemplate="header">
    <span *ngIf="!editable && !deleteBonus">Create bonus</span>
    <span *ngIf="editable && !deleteBonus">Edit bonus</span>
  </ng-template>

  <!--  <p-messages [(value)]="formErrors" [enableService]="false"></p-messages>-->

  <form [formGroup]="bonusForm" style="padding-top: 10px">

    <div class="field">
      <label for="bonusDate" class="block">Bonus Date</label>
      <p-calendar formControlName="bonusDate"
                  id="bonusDate"
                  dateFormat="dd/mm/yy"
                  [showIcon]="true"
                  dataType="string"
                  inputId="bonusDate">
      </p-calendar>
    </div>

    <div class="field">
      <label for="amount">Amount</label>
      <p-inputNumber id="amount" formControlName="amount" inputId="amount" mode="currency" currency="EUR">
      </p-inputNumber>
    </div>

    <div class="field">

      <label>Comment</label>
      <input type="text" pInputText id="comment" class="p-inputtext-md p-inputtext"
             formControlName="comment">
    </div>

  </form>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" icon="pi pi-times"
              (onClick)="hideDialog()">
    </p-button>
    <p-button *ngIf="!editable && !deleteBonus" label="Save"
              icon="pi pi-check" class="p-button-text"
              (click)="saveBonus()">
    </p-button>
    <p-button *ngIf="editable && !deleteBonus" label="Update"
              icon="pi pi-check" class="p-button-text"
              (click)="updateBonus()">
    </p-button>

  </ng-template>

</p-dialog>
