/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.header-panel {
  background-color: #007ad9;
  color: white;
  height: 100%;
  margin-bottom: 1em;
}

.p-sidebar-content .header-panel {
  height: auto;
}

.inline-docs-table .p-datatable-wrapper {
  max-height: 200px;
}

@media print {
  #printableDoc {
    width: 210mm;
    height: 297mm;

    em {
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
      background-color: yellow;
      font-weight: bold;
      text-decoration: underline;
    }

    mark {
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
      background: rgb(0, 217, 255);
      background-color: rgb(0, 217, 255);
      color: black;
    }

    .ocr {
      display: none;
    }
  }
}

.required::after {
  content: '*';
  color: red;
  padding: 0px 3px;
}
