<section
  class="elementor-section elementor-top-section elementor-element elementor-element-79fd84b elementor-section-stretched elementor-section-boxed elementor-section-height-default snipcss-6f84a"
  data-id="79fd84b" data-element_type="section"
  data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fa8cc30"
         data-id="fa8cc30" data-element_type="column">
      <div class="elementor-widget-wrap elementor-element-populated">
        <section
          class="elementor-section elementor-inner-section elementor-element elementor-element-8aef641 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
          data-id="8aef641" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div
              class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-3452e97"
              data-id="3452e97" data-element_type="column">
              <div class="elementor-widget-wrap elementor-element-populated">

                <div
                  class="mt-5 pt-5 elementor-element elementor-element-9da9d6a elementor-widget elementor-widget-pix-heading"
                  data-id="9da9d6a" data-element_type="widget" data-widget_type="pix-heading.default">
                  <div class="elementor-widget-container">
                    <div class="pix-heading-el text-center ">
                      <div class="d-inline-block" style="max-width:550px;">
                        <div>
                          <div class="slide-in-container">
                            <h3
                              class="text-heading-default font-weight-bold heading-text el-title_custom_color mb-12 pix-waiting animated"
                              style="" data-anim-type="fade-in-up" data-anim-delay="200">
                              Καλώς ήρθατε στο HR Management system
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-element elementor-element-0206286 elementor-widget elementor-widget-pix-text"
                     data-id="0206286" data-element_type="widget" data-widget_type="pix-text.default">
                  <div class="elementor-widget-container">
                    <div class="pix-el-text slide-in-container w-100 text-center ">
                      <div class="d-inline-block" style="max-width:550px;">
                        <p class="text-18  text-body-default text-center ">
                          <span class="d-inline-block pix-waiting animated" data-anim-delay="300"
                                data-anim-type="fade-in-up">
                            Πρόκειται για μια υπηρεσία που παρέχει τη δυνατότητα δημιουργίας, αναζήτησης και επεξεργασίας
                            των στοιχείων των υπαλλήλων, που ανήκουν στην εταιρεία.
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
